{
    "useTabs": false,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "none",
    "printWidth": 120,
    "arrowParens": "always",
    "bracketSpacing": true,
    "semi": true,
    "singleAttributePerLine": false,
    "svelteAllowShorthand": true,
    "svelteBracketNewLine": true,
    "svelteSortOrder": "options-scripts-markup-styles",
    "plugins": ["prettier-plugin-svelte"],
    "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
