{
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 100,
    "singleQuote": false,
    "trailingComma": "all",
    "importOrderSeparation": true,
    "importOrderSideEffects": false,
    "importOrder": ["<THIRD_PARTY_MODULES>", "<BUILTIN_MODULES>", "^[$./]"],
    "importOrderSortSpecifiers": true,
    "plugins": [
        "prettier-plugin-svelte",
        "prettier-plugin-tailwindcss",
        "@trivago/prettier-plugin-sort-imports"
    ],
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte"
            }
        }
    ]
}
